In [1]:
import pandas as pd
import dask.dataframe as dd
from distributed import Client
from dask_kubernetes import KubeCluster, make_pod_spec

In [2]:
pod_spec = make_pod_spec(
    image='docker-apac:6081/stem-pres-nyc-cab:latest',
    memory_request='10G',
    cpu_request=1,
    env={}
)

In [3]:
cluster = KubeCluster(pod_spec, namespace='stem-pres')
cluster.scale(10)
cluster

VBox(children=(HTML(value='<h2>KubeCluster</h2>'), HBox(children=(HTML(value='\n<div>\n  <style scoped>\n    .â€¦

In [4]:
client = Client(cluster.scheduler_address)
client

In [5]:
columns = [
    'vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count',
    'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code', 
    'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude', 'payment_type',
    'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'
]

df = dd.read_csv(
    urlpath='s3://stem-pres/nyc_cab/yellow*2013*.csv.gz', 
    storage_options={
        'key': 'opt-minio-dev', 
        'secret': 'opt-minio-dev', 
        'client_kwargs': dict(endpoint_url='http://minio.opt-pilot.svc.hkcc.ks:9000/')
    },
    compression='gzip',
    blocksize=None,
    names=columns,
    header=0
)

df

Dask DataFrame Structure:
               vendor_id pickup_datetime dropoff_datetime passenger_count trip_distance pickup_longitude pickup_latitude rate_code store_and_fwd_flag dropoff_longitude dropoff_latitude payment_type fare_amount surcharge  mta_tax tip_amount tolls_amount total_amount
npartitions=40
                  object          object           object           int64       float64          float64         float64     int64             object           float64          float64       object     float64   float64  float64    float64      float64      float64
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
...                  ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
Dask Name: from-delayed, 120 tasks

In [6]:
df.persist()

Dask DataFrame Structure:
               vendor_id pickup_datetime dropoff_datetime passenger_count trip_distance pickup_longitude pickup_latitude rate_code store_and_fwd_flag dropoff_longitude dropoff_latitude payment_type fare_amount surcharge  mta_tax tip_amount tolls_amount total_amount
npartitions=40
                  object          object           object           int64       float64          float64         float64     int64             object           float64          float64       object     float64   float64  float64    float64      float64      float64
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
...                  ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
Dask Name: from-delayed, 40 tasks

In [28]:
tip_data = df[df.tip_amount > 0]

In [31]:
tip_data.

Dask DataFrame Structure:
               vendor_id pickup_datetime dropoff_datetime passenger_count trip_distance pickup_longitude pickup_latitude rate_code store_and_fwd_flag dropoff_longitude dropoff_latitude payment_type fare_amount surcharge  mta_tax tip_amount tolls_amount total_amount
npartitions=40
                  object          object           object           int64       float64          float64         float64     int64             object           float64          float64       object     float64   float64  float64    float64      float64      float64
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
...                  ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
                     ...             ...              ...             ...           ...              ...             ...       ...                ...               ...              ...          ...         ...       ...      ...        ...          ...          ...
Dask Name: getitem, 240 tasks

distributed.utils - ERROR - "('getitem-448e225c5831594f432fe1f8ab0086d5', 29)"
Traceback (most recent call last):
  File "/Users/bmcelroy/anaconda3/envs/stem_nyc_cab/lib/python3.6/site-packages/distributed/utils.py", line 644, in log_errors
    yield
  File "/Users/bmcelroy/anaconda3/envs/stem_nyc_cab/lib/python3.6/site-packages/distributed/scheduler.py", line 2200, in gather
    ts = self.tasks[key]
KeyError: "('getitem-448e225c5831594f432fe1f8ab0086d5', 29)"
distributed.core - ERROR - "('getitem-448e225c5831594f432fe1f8ab0086d5', 29)"
Traceback (most recent call last):
  File "/Users/bmcelroy/anaconda3/envs/stem_nyc_cab/lib/python3.6/site-packages/distributed/core.py", line 321, in handle_comm
    result = yield result
  File "/Users/bmcelroy/anaconda3/envs/stem_nyc_cab/lib/python3.6/site-packages/tornado/gen.py", line 1133, in run
    value = future.result()
  File "/Users/bmcelroy/anaconda3/envs/stem_nyc_cab/lib/python3.6/site-packages/tornado/gen.py", line 1147, in run
    yielded = self.gen.send(value)
  File "/Users/bmcelroy/anaconda3/envs/stem_nyc_cab/lib/python3.6/site-packages/distributed/scheduler.py", line 2200, in gather
    ts = self.tasks[key]
KeyError: "('getitem-448e225c5831594f432fe1f8ab0086d5', 29)"

In [ ]:
tip_data.shape

In [7]:
data = df.get_partition(0).head(50)

In [10]:
data.vendor_id.value_counts()

CMT    2567250
VTS    2432750
Name: vendor_id, dtype: int64

In [8]:
from folium import Map
from folium.plugins import HeatMap

In [25]:
nyc_map = Map(location=[40.759945, -73.9745], zoom_start=11)
nyc_map

In [23]:
hmap = HeatMap(
    zip(data.pickup_latitude.values, data.pickup_longitude.values, data.tip_amount.astype(float)), 
    min_opacity=1,
    max_val=data.tip_amount.max(),
    radius=17, blur=15, 
    max_zoom=1, 
)

nyc_map.add_child(hmap)

In [20]:
from geopandas import GeoDataFrame

In [21]:
gdf = GeoDataFrame(data)

In [22]:
gdf

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
NaN,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0.0,CMT,2013-01-01 15:11:48,2013-01-01 15:18:10,4,1.0,-73.978165,40.757977,1,N,-73.98984,40.751173,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1.0,CMT,2013-01-06 00:18:35,2013-01-06 00:22:54,1,1.5,-74.00668,40.731781,1,N,-73.994499,40.750659,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2.0,CMT,2013-01-05 18:49:41,2013-01-05 18:54:23,1,1.1,-74.004711,40.73777,1,N,-74.009831,40.726,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3.0,CMT,2013-01-07 23:54:15,2013-01-07 23:58:20,2,0.7,-73.97459999999998,40.759945,1,N,-73.98473699999998,40.759388,CSH,5.0,0.5,0.5,0.0,0.0,6.0